<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookshelf_initialpage"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name=".MainActivityViewPager"
            android:label="Read_Text" >
        </activity>
        
        
        <activity
            android:name=".Load_Activity"
            android:label="Load / Delete Book" >
           <intent-filter android:label="Load/Delete Book">
		      <action android:name="android.intent.action.MAIN" />
		      <category android:name="android.intent.category.LAUNCHER" />
		  </intent-filter>
         </activity>
        
        
        <activity
            android:name=".Category_Activity"
            android:label="Add / Delete Category" >
            <intent-filter android:label="Add/Delete Category">
		      <action android:name="android.intent.action.MAIN" />
		      <category android:name="android.intent.category.LAUNCHER" />
		  </intent-filter>
        </activity>
        
        
        <activity
            android:name=".Search_Activity"
            android:label="@string/title_activity_search_" >
             <intent-filter android:label="Search">
		      <action android:name="android.intent.action.MAIN" />
		      <category android:name="android.intent.category.LAUNCHER" />
		  </intent-filter>
        </activity>
    </application>

</manifest><!--
 android:label="@string/title_activity_load_" >  android:label="@string/app_name"
 android:label="@string/app_name"
-->

